---
import t from "../i18n/ca.json";
---

<section class="hero" aria-label="Hero pricipal">
  <h1>{t.hero.title}</h1>
  <p class="hero__subtitle">{t.hero.subtitle}</p>

  <div class="hero__cta">
    <button class="btn btn--primary">{t.hero.btn_demo}</button>
    <button class="btn btn--secondary">{t.hero.btn_join}</button>
  </div>

  <small>{t.hero.context}</small>
</section>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    gap: 2rem;
    text-align: center;
    background-color: var(--color-light-brown);
  }
  .hero h1 {
    font-size: 2rem;
    line-height: 1.1;
    color: var(--color-black);
    margin: 0;
  }
  .hero__subtitle {
    font-size: 1.22rem;
    color: #666;
    margin: 0;
    max-width: 800px;
  }
  .hero__cta {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .hero small {
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--color-black);
    margin-top: 1rem;
    display: block;
  }
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    border-radius: 11px;
    border: none;
    cursor: pointer;
    transition:
      background-color 0.2s ease,
      transform 0.1s ease;
  }
  .btn--primary {
    background-color: var(--color-black);
    color: var(--color-white);
  }
  .btn--secondary {
    background-color: var(--color-white);
    color: var(--color-black);
    border-color: var(--color-black);
  }
  btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
  }
</style>
