---
import t from "../i18n/ca.json";
---

<div class="container-alpha">
    <h2>{t.section5.title}</h2>
    <p class="container-alpha__subtitle">{t.section5.subtitle}</p>

    <div class="cards-row">
      {t.section5.cards_small.map((card) => (
        <div class="card-small">
          <img src={card.icon} alt={card.icon_alt} class="card-icon" />
          <div class="card-content">
            <h3>{card.title}</h3>
            <p>{card.desc}</p>
          </div>
        </div>
      ))}
    </div>

    <div class="cards-column">
      {t.section5.cards_wide.map((card) => (
        <div class="card-wide">
          <img src={card.icon} alt={card.icon_alt} class="card-icon" />
          <div class="card-content">
            <h3>{card.title}</h3>
            <p>{card.desc}</p>
          </div>
        </div>
      ))}
    </div>
</div>


<style>
    .container-alpha {
        background-color: var( --color-dark-cream);
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .container-alpha h2 {
        font-size: 2rem;
        color: var(--color-black);
        margin: 0;
    }

    .container-alpha__subtitle {
        color: #666;
        margin: 0;
    }

    /* ---  CARDS --- */
    .cards-row {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .card-small {
        background-color: var(--color-white);
        border-radius: 1rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        flex: 1;
        transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .card-small:hover{
        transform: scale(1.1); translateY(-4px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  filter: brightness(1.08);
  background-color: rgba(255, 134, 134, 0.196);
    }

    /* --- COLUMNA 2 CARDS ANCHAS --- */
    .cards-column {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .card-wide {
        background-color: var(--color-white);
        border-radius: 1rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }
    .card-wide:hover{
         transform: scale(1.04); translateY(-4px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  filter: brightness(1.08);
  background-color: rgba(176, 71, 45, 0.196);
    }

    /* --- COMUN --- */
    .card-icon {
        width: 55px;
        height: 55px;
        flex-shrink: 0;
    }

    .card-content h3 {
        margin: 0;
        color: var(--color-primary);
    }

    .card-content p {
        margin: 0;
        line-height: 1.6;
    }
</style>